.feature-box {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;

    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &__icon {
        margin-bottom: .5rem;
        font-size: 6rem;
        background: linear-gradient(to right, $col-primary-light, $col-primary-dark);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__text {
        height: 15rem;
    }

    &:hover {
        transform: translateY(-5px) scale(1.05);
        -webkit-transform: translateY(-5px) scale(1.05);
        -moz-transform: translateY(-5px) scale(1.05);
        -ms-transform: translateY(-5px) scale(1.05);
        -o-transform: translateY(-5px) scale(1.05);
    }
}