.heading-primary {
    margin-bottom: 60px;
    color: $col-neutral-light;
    text-transform: uppercase;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 35px;
        animation: move-in-left 1s ease-out backwards;
        -webkit-animation: move-in-left 1s ease-out backwards;

        @include responsivenessForA(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: move-in-right 1s ease-out backwards;
        -webkit-animation: move-in-right 1s ease-out backwards;

        @include responsivenessForA(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $col-primary-light, $col-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    letter-spacing: .2rem;
    cursor: default;

    @include responsivenessForA(tablet-in-portrait) {
        font-size: 3rem;
    };

    @include responsivenessForA(phone) {
        font-size: 2.5rem;
    };

    &:hover {
        transform: skewY(2deg) skewX(15deg);
        -webkit-transform: skewY(2deg) skewX(15deg);
        -moz-transform: skewY(2deg) skewX(15deg);
        -ms-transform: skewY(2deg) skewX(15deg);
        -o-transform: skewY(2deg) skewX(15deg);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph { 
    font-size: $default-font-size;

    &:not(:last-child){ margin-bottom: 1.3rem; }
}