// Colors
$col-primary-light: #7ed56f;
$col-primary-medium: #55c57a;
$col-primary-dark: #28b485;

$col-neutral-light: #ffffff;
$col-neutral-dark: #777;

$col-grey-light-1: #f7f7f7;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;